doctype html
html.no-js
  head
    meta(charset='utf-8')
    title generator webapp kashiro
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
  body
    .hero-unit
      h1 'Allo, 'Allo!
      p You now have
      ul
        li HTML5 Boilerplate
        li Sass with Compass
